In [4]:
import pandas as pd
import numpy as np
#import talib as ta
import os

### Download Kaggle datasets

In [5]:
!kaggle datasets download -d dgawlik/nyse -p ./datasets

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
fundamentals = pd.read_csv("./data/nyse/fundamentals.csv", parse_dates=['Period Ending'])
prices = pd.read_csv("./data/nyse/prices.csv", parse_dates=['date'])
prices_adj = pd.read_csv("./data/nyse/prices-split-adjusted.csv", parse_dates=['date'])
securities = pd.read_csv("./data/nyse/securities.csv", parse_dates=['Date first added'])

In [8]:
symbols = sorted(prices_adj['symbol'].unique())
prices_adj.set_index(['symbol', 'date'], inplace=True, drop=True)
prices_adj.sort_index(inplace=True)

### Normalize the prices entries using the t-1 close price  
Effectively it's the daily return calculated as the difference of the log(price)

In [9]:
log_ret = prices_adj.copy()

# Log transfrom the prices   
for col in ['open','close','low','high']:
    log_ret[col] = np.log(log_ret[col])
    
# Get the close price of the previous day
log_ret['close_m1'] = log_ret['close'].shift(1)

# Calculate normalize the prices using t-1 close price
log_ret.eval('''
                open = open - close_m1
                close = close - close_m1
                high = high - close_m1
                low = low - close_m1
             ''',
             inplace = True)

# Drop close_m1
log_ret.drop(labels=['close_m1'], axis='columns', inplace=True)

# Drop the first entry for each ticker
idx = log_ret.groupby('symbol').head(1).index
log_ret.drop(labels=idx, axis='index', inplace=True)

In [10]:
log_ret.groupby('symbol').head(1).head(6)

                       open     close       low      high       volume
symbol date
A      2010-01-05 -0.002880 -0.010922 -0.017403 -0.002559    4186000.0
AAL    2010-01-05  0.004184  0.107246 -0.012658  0.118482   25212000.0
AAP    2010-01-05 -0.001983 -0.005961 -0.016480 -0.001735    1932400.0
AAPL   2010-01-05  0.002753  0.001727 -0.003558  0.007356  150476200.0
ABBV   2013-01-03 -0.003423 -0.008292 -0.027715 -0.003423   16739300.0
ABC    2010-01-05  0.000751 -0.007160 -0.009432  0.000751    2476800.0

### Some technical analysis indicators

In [219]:
from talib.abstract import STOCH

In [262]:
for s in symbols[:5]:
    
    """ Momentum using close prices """
    prices_adj.loc[[s], 'MOM_20'] = talib.MOM(prices_adj.loc[[s], 'close'], timeperiod=20)
    
    """ Simple moving average of the close prices """
    prices_adj.loc[[s], 'MA_5'] = talib.SMA(prices_adj.loc[[s], 'close'], timeperiod=5)
    prices_adj.loc[[s], 'MA_10'] = talib.SMA(prices_adj.loc[[s], 'close'], timeperiod=10)
    prices_adj.loc[[s], 'MA_20'] = talib.SMA(prices_adj.loc[[s], 'close'], timeperiod=20)
    prices_adj.loc[[s], 'MA_50'] = talib.SMA(prices_adj.loc[[s], 'close'], timeperiod=50)
    prices_adj.loc[[s], 'MA_100'] = talib.SMA(prices_adj.loc[[s], 'close'], timeperiod=100)
    
    """ Bollinger bands """
    upper, middle, lower = talib.BBANDS(prices_adj.loc[[s], 'close'], matype=talib.MA_Type.T3)
    prices_adj.loc[[s], 'BBANDS.upper'] = upper
    prices_adj.loc[[s], 'BBANDS.middle'] = middle
    prices_adj.loc[[s], 'BBANDS.lower'] = lower
    
    """ Stochastic """
    # uses high, low, close (default)
    prices_adj.loc[[s], ['STOCH.slowk','STOCH.slowd']] = STOCH(prices_adj.loc[s], 5, 3, 0, 3, 0).as_matrix()

    # uses high, low, open instead
#     prices_adj.loc[[s], ['STOCH.slowk','STOCH.slowd']] = STOCH(prices_adj.loc[s], 5, 3, 0, 3, 0, 
#                                                                prices=['high', 'low', 'open']).as_matrix()

In [21]:
## Calculate return

log_ret = pd.DataFrame()
log_ret.index = prices_adj.index

for s in symbols[:5]:
    prices_adj.loc[[s], 'close_t-1'] = prices_adj.loc[[s], 'close'].shift(1)
    
    log_ret.loc[s, ]

In [22]:
prices_adj.loc['AAL']

                 open      close        low       high      volume  close_t-1
date
2010-01-04   4.840000   4.770000   4.660000   4.940000   9837300.0        NaN
2010-01-05   4.790000   5.310000   4.710000   5.370000  25212000.0   4.770000
2010-01-06   5.190000   5.090000   5.000000   5.380000  16597900.0   5.310000
2010-01-07   5.060000   5.240000   5.050000   5.430000  14033400.0   5.090000
2010-01-08   5.270000   5.140000   5.060000   5.430000  12760000.0   5.240000
2010-01-11   5.130000   5.040000   4.940000   5.230000  10952900.0   5.140000
2010-01-12   5.060000   5.080000   4.960000   5.150000   7870300.0   5.040000
2010-01-13   5.120000   5.480000   5.020000   5.500000  16400500.0   5.080000
2010-01-14   5.460000   5.590000   5.410000   5.710000  12767100.0   5.480000
2010-01-15   5.640000   5.500000   5.430000   5.840000  10985300.0   5.590000
2010-01-19   5.500000   5.640000   5.500000   5.730000   7807700.0   5.500000
2010-01-20   5.650000   5.740000   5.610000   5.890000  13289100.0   5.640000
2010-01-21   5.880000   5.460000   5.420000   5.960000  15641000.0   5.740000
2010-01-22   5.480000   5.240000   5.110000   5.520000  11463400.0   5.460000
2010-01-25   5.340000   5.220000   5.150000   5.500000   8168200.0   5.240000
2010-01-26   5.210000   5.050000   5.050000   5.280000   8787500.0   5.220000
2010-01-27   5.100000   4.860000   4.470000   5.170000  21655400.0   5.050000
2010-01-28   4.990000   5.140000   4.710000   5.220000  19157300.0   4.860000
2010-01-29   5.230000   5.310000   5.170000   5.610000  19094600.0   5.140000
2010-02-01   5.430000   5.600000   5.350000   5.630000  10965100.0   5.310000
2010-02-02   5.650000   5.960000   5.620000   6.000000  14363700.0   5.600000
2010-02-03   5.940000   5.660000   5.650000   5.980000   9137400.0   5.960000
2010-02-04   5.820000   5.490000   5.470000   5.820000  11591200.0   5.660000
2010-02-05   5.500000   5.890000   5.430000   6.030000  18555800.0   5.490000
2010-02-08   5.880000   5.930000   5.820000   6.110000   9765900.0   5.890000
2010-02-09   6.150000   6.440000   6.150000   6.490000  20482500.0   5.930000
2010-02-10   6.390000   6.310000   6.210000   6.430000   9782200.0   6.440000
2010-02-11   6.300000   6.320000   6.220000   6.520000  14084500.0   6.310000
2010-02-12   6.270000   6.810000   6.190000   6.910000  17096200.0   6.320000
2010-02-16   6.930000   6.880000   6.750000   7.000000  21834000.0   6.810000
...               ...        ...        ...        ...         ...        ...
2016-11-17  44.389999  45.830002  44.049999  45.849998   8558700.0  44.450001
2016-11-18  46.150002  46.259998  45.619999  46.490002   7795100.0  45.830002
2016-11-21  46.459999  46.080002  45.950001  46.750000   6651400.0  46.259998
2016-11-22  46.029999  46.080002  45.950001  46.950001   5780600.0  46.080002
2016-11-23  46.049999  46.340000  45.700001  46.389999   5160200.0  46.080002
2016-11-25  46.340000  46.820000  46.299999  46.860001   2426600.0  46.340000
2016-11-28  46.639999  46.500000  45.660000  46.889999   7369600.0  46.820000
2016-11-29  46.590000  46.889999  46.169998  47.139999   4885400.0  46.500000
2016-11-30  46.139999  46.439999  45.419998  46.860001   7904200.0  46.889999
2016-12-01  46.200001  45.750000  45.660000  47.090000   7435200.0  46.439999
2016-12-02  46.090000  46.099998  45.910000  46.860001   6505100.0  45.750000
2016-12-05  46.450001  45.720001  45.580002  46.540001   5256400.0  46.099998
2016-12-06  46.160000  46.430000  45.919998  46.549999   5334500.0  45.720001
2016-12-07  46.610001  48.650002  46.520000  48.939999  10210300.0  46.430000
2016-12-08  48.599998  48.049999  47.700001  48.599998   6240000.0  48.650002
2016-12-09  49.270000  49.639999  48.740002  50.639999   9850800.0  48.049999
2016-12-12  49.160000  47.590000  47.439999  49.340000   8643500.0  49.639999
2016-12-13  47.939999  47.840000  47.709999  48.490002   6147700.0  47.590000
2016-12-14  47.840000  47.919998  47.810001  48.750000   5293900.0  47.840000
2016-12-15  48.099998  48.299999  48.099998  49.950001   7530800.0  47.919998
2016-12-16  48.610001  47.630001  47.560001  49.070000   9299700.0  48.299999
2016-12-19  47.889999  48.580002  47.740002  48.599998   4729900.0  47.630001
2016-12-20  48.500000  49.220001  48.500000  49.500000   4814600.0  48.580002
2016-12-21  49.340000  49.470001  49.230000  49.900002   3827900.0  49.220001
2016-12-22  49.349998  48.689999  48.459999  49.450001   3618700.0  49.470001
2016-12-23  48.610001  48.480000  48.290001  48.840000   2914800.0  48.689999
2016-12-27  48.290001  48.610001  48.139999  48.919998   2797800.0  48.480000
2016-12-28  48.730000  47.669998  47.610001  48.830002   4153600.0  48.610001
2016-12-29  47.799999  47.250000  46.959999  48.000000   3709300.0  47.669998
2016-12-30  47.419998  46.689999  46.470001  47.660000   4495000.0  47.250000

[1762 rows x 6 columns]

In [ ]:
pd.as_matrix()

In [144]:
# list of functions
print(talib.get_functions())

# dict of functions by group
# print(talib.get_function_groups())

['HT_DCPERIOD', 'HT_DCPHASE', 'HT_PHASOR', 'HT_SINE', 'HT_TRENDMODE', 'ADD', 'DIV', 'MAX', 'MAXINDEX', 'MIN', 'MININDEX', 'MINMAX', 'MINMAXINDEX', 'MULT', 'SUB', 'SUM', 'ACOS', 'ASIN', 'ATAN', 'CEIL', 'COS', 'COSH', 'EXP', 'FLOOR', 'LN', 'LOG10', 'SIN', 'SINH', 'SQRT', 'TAN', 'TANH', 'ADX', 'ADXR', 'APO', 'AROON', 'AROONOSC', 'BOP', 'CCI', 'CMO', 'DX', 'MACD', 'MACDEXT', 'MACDFIX', 'MFI', 'MINUS_DI', 'MINUS_DM', 'MOM', 'PLUS_DI', 'PLUS_DM', 'PPO', 'ROC', 'ROCP', 'ROCR', 'ROCR100', 'RSI', 'STOCH', 'STOCHF', 'STOCHRSI', 'TRIX', 'ULTOSC', 'WILLR', 'BBANDS', 'DEMA', 'EMA', 'HT_TRENDLINE', 'KAMA', 'MA', 'MAMA', 'MAVP', 'MIDPOINT', 'MIDPRICE', 'SAR', 'SAREXT', 'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA', 'CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE', 'BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE', 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE', 'STDDEV', 'TSF', 'VAR', 'ATR', 'NATR', 'TRANGE', 'AD', 'ADOSC', 'OBV']

In [134]:
abstract.SMA(X, timeperiod=25)

date
2016-01-05           NaN
2016-01-06           NaN
2016-01-07           NaN
2016-01-08           NaN
2016-01-11           NaN
2016-01-12           NaN
2016-01-13           NaN
2016-01-14           NaN
2016-01-15           NaN
2016-01-19           NaN
2016-01-20           NaN
2016-01-21           NaN
2016-01-22           NaN
2016-01-25           NaN
2016-01-26           NaN
2016-01-27           NaN
2016-01-28           NaN
2016-01-29           NaN
2016-02-01           NaN
2016-02-02           NaN
2016-02-03           NaN
2016-02-04           NaN
2016-02-05           NaN
2016-02-08           NaN
2016-02-09    113.553200
2016-02-10    112.820400
2016-02-11    112.306400
2016-02-12    112.022000
2016-02-16    111.788000
2016-02-17    111.638799
                 ...
2016-11-17    124.103999
2016-11-18    123.962000
2016-11-21    123.834000
2016-11-22    123.706400
2016-11-23    123.538400
2016-11-25    123.451200
2016-11-28    123.354400
2016-11-29    123.238000
2016-11-30    123.154800
2016-12-01    122.967200
2016-12-02    122.739600
2016-12-05    122.572800
2016-12-06    122.527200
2016-12-07    122.544000
2016-12-08    122.545200
2016-12-09    122.510000
2016-12-12    122.687200
2016-12-13    122.958000
2016-12-14    123.096800
2016-12-15    123.271600
2016-12-16    123.274001
2016-12-19    123.360000
2016-12-20    123.414000
2016-12-21    123.400400
2016-12-22    123.407600
2016-12-23    123.403200
2016-12-27    123.381600
2016-12-28    123.321200
2016-12-29    123.215200
2016-12-30    123.124000
Length: 251, dtype: float64

In [123]:
talib.MA_Type.T3

8

In [124]:
?talib.BBANDS

In [117]:
upper, middle, lower = talib.BBANDS(prices_adj['close'], matype=talib.MA_Type.T3)

In [120]:
lower

symbol  date
WLTW    2016-01-05           NaN
        2016-01-06           NaN
        2016-01-07           NaN
        2016-01-08           NaN
        2016-01-11           NaN
        2016-01-12           NaN
        2016-01-13           NaN
        2016-01-14           NaN
        2016-01-15           NaN
        2016-01-19           NaN
        2016-01-20           NaN
        2016-01-21           NaN
        2016-01-22           NaN
        2016-01-25           NaN
        2016-01-26           NaN
        2016-01-27           NaN
        2016-01-28           NaN
        2016-01-29           NaN
        2016-02-01           NaN
        2016-02-02           NaN
        2016-02-03           NaN
        2016-02-04           NaN
        2016-02-05           NaN
        2016-02-08           NaN
        2016-02-09    109.446013
        2016-02-10    106.603599
        2016-02-11    105.887765
        2016-02-12    106.354229
        2016-02-16    105.924326
        2016-02-17    105.570697
                         ...
WAT     2016-12-30     21.616232
WBA     2016-12-30     25.611829
WDC     2016-12-30     25.658995
WEC     2016-12-30     21.744887
WFC     2016-12-30     16.984202
WFM     2016-12-30     31.815966
WHR     2016-12-30    -32.472641
WM      2016-12-30    -25.120712
WMB     2016-12-30    -33.067036
WMT     2016-12-30    -35.401804
WRK     2016-12-30    -35.247728
WU      2016-12-30     20.981713
WY      2016-12-30     16.110516
WYN     2016-12-30      4.542599
WYNN    2016-12-30      0.145534
XEC     2016-12-30    -19.113902
XEL     2016-12-30     -4.278121
XL      2016-12-30     -1.890663
XLNX    2016-12-30     -5.829758
XOM     2016-12-30     -5.907493
XRAY    2016-12-30     29.740409
XRX     2016-12-30      6.358927
XYL     2016-12-30      1.133457
YHOO    2016-12-30     -5.334745
YUM     2016-12-30      7.273357
ZBH     2016-12-30     -9.854075
ZION    2016-12-30      9.497163
ZTS     2016-12-30     11.774726
AIV     2016-12-30     13.181539
FTV     2016-12-30     11.380906
Length: 851264, dtype: float64

In [67]:
output = talib.MOM(prices_adj['close'], timeperiod=5)

In [72]:
sum(output.isnull())

5